@import "../utils/variables";
@import "../utils/mixins";
@import "../../libs/include-media/dist/include-media";

// Checkbox and Radiobutton
// ========================

$checkbox-size: 20px !default;
$checkbox-check-size: 6px 10px !default;
$radio-check-size: 10px !default;
$checkbox-color: $base-color !default;
$checkbox-color-hover: $base-color !default;

.form-radiocheck {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0;
  @include font-medium;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: $base-color;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  // Hide default inputs
  input[type="checkbox"], input[type="radio"] {
    position: absolute;
    @include size(16px);
    padding: 0;
    margin: 0;
    display: none;

    &:disabled {
      color: #bdbdbd !important;

      & + span {
        cursor: default !important;
        color: #d6d6d6 !important;

        &::before, &::after {
          border-color: currentColor !important;
        }

        &::before {
          background-color: #f3f3f3 !important;
        }
      }
    }
  }

  & > span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 1px 0 1px 2.8rem;
    cursor: pointer;

    &::before, &::after {
      content: "";
      display: block;
      position: absolute;
      box-sizing: border-box;

      $prop: opacity, border-color;

      will-change: $prop;
      transition: border-color ease-in-out 0.2s;
    }

    &::before {
      left: 0;
      //top: 50%;
      top: 0;
      border: 1px solid #bed1d8;
      background-color: #fff;
      width: $checkbox-size;
      height: $checkbox-size;
      //margin: -#{round($checkbox-size / 2)} 0;
    }

    &::after {
      $prop: transform, opacity;

      will-change: $prop;
      transition: transform cubic-bezier(0.45, -1.1, 0.45, 2.1) 0.22s, opacity ease-in-out 0.2s;
    }
  }
}

.form-radiocheck {
  input[type="checkbox"] {
    & ~ span {
      &::before {
        border-radius: 4px;
      }

      &::after {
        opacity: 0;
        left: 0;
        //top: 50%;
        top: round($checkbox-size / 2);
        height: nth($checkbox-check-size, 1);
        width: nth($checkbox-check-size, 2);
        margin: -#{round(nth($checkbox-check-size, 1) / 2) + 1} #{round(($checkbox-size - nth($checkbox-check-size, 2)) / 2)};
        border: solid $checkbox-color;
        border-width: 0 0 2px 2px;

        $rotate: -30deg;
        $scale: 1.1, 1.1;

        transform: rotate($rotate) scale($scale);
        transform: rotate($rotate) scale3d($scale, 1);
      }
    }
  }

  // Hover
  &:hover {
    input[type="checkbox"] {
      & ~ span {
        &::before {
          border-color: $checkbox-color-hover;
        }
      }
    }
  }

  // Checked
  input[type="checkbox"] {
    &:checked {
      & ~ span {
        &::after {
          opacity: 1;

          $rotate: -45deg;
          $scale: 1, 1;

          transform: rotate($rotate) scale($scale);
          transform: rotate($rotate) scale3d($scale, 1);
        }
      }
    }
  }
}

.form-radiocheck {
  input[type="radio"] {
    & ~ span {
      &::before {
        border-radius: round($checkbox-size / 2);
      }

      &::after {
        opacity: 0;
        left: 0;
        //top: 50%;
        top: round($checkbox-size / 2);
        height: $radio-check-size;
        width: $radio-check-size;
        //margin: -#{round($radio-check-size / 2)} #{round(($checkbox-size - $radio-check-size) / 2)};
        margin: -#{round($radio-check-size / 2)} #{round(($checkbox-size - $radio-check-size) / 2)};
        border: round($radio-check-size / 2) solid $checkbox-color;
        border-radius: round($radio-check-size / 2);

        $scale: 1.35, 1.35;

        transform: scale($scale);
        transform: scale3d($scale, 1);
      }
    }
  }

  // Hover
  &:hover {
    input[type="radio"] {
      & ~ span {
        &::before {
          border-color: $checkbox-color-hover;
        }
      }
    }
  }

  // Checked
  input[type="radio"] {
    &:checked {
      & ~ span {
        &::after {
          opacity: 1;

          $rotate: 0;
          $scale: 1, 1;

          transform: scale($scale);
          transform: scale3d($scale, 1);
        }
      }
    }
  }
}

/* checkbox and radiobutton text view */
.radiocheck-text-group {
  display: inline-block;
  vertical-align: top;
  margin-bottom: $form-bottom-space;

  // ------ mob -----------------------------------------
  @include media($form-media--mob) {
    margin-bottom: $form-bottom-space--mob;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
.radiocheck-text-group__frame {
  position: relative;
  display: flex;
  padding-left: 1px;
}

.radiocheck-text {
  position: relative;
  display: inline-block;
  vertical-align: top;
  flex-grow: 1;
  margin: 0 0 0 -1px;

  & > span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    $height: 5rem;
    height: $height;
    padding: 0 2rem;
    font-size: 1.3rem;
    line-height: $height;
    color: $base-color;
    text-align: center;
    cursor: pointer;
    background-color: #ecf5f9;
    border: 1px solid #bed1d8;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
    // transition
    $prop: color, background-color, box-shadow;
    transition: {
      property: $prop;
      duration: $animation-speed;
      timing-function: ease-in-out;
    };
  }

  &:first-child {
    & > span {
      border-radius: 4px 0 0 4px;
    }
  }

  &:last-child {
    & > span {
      border-radius: 0 4px 4px 0;
    }
  }

  // hide default inputs
  input[type="checkbox"], input[type="radio"] {
    display: none;

    &:checked ~ span {
      @include font-bold;
      background-color: white;
      box-shadow: 0 1px 1px rgba(163, 163, 163, 0.5);
      cursor: default;
      z-index: 2;
    }

    &:disabled ~ span {
      background-color: $form-bg-color--disabled;
      color: $form-text-color--disabled;
      border: 1px solid $form-border-color--disabled;
    }

    &:checked:disabled ~ span {
      $bg-color: tint($form-bg-color--disabled, 10%);
      background-color: $bg-color;
    }
  }
}

.radiocheck-text-group_two {
  .radiocheck-text {
    $width: round-float(100% / 2, 2);
    min-width: $width;
    max-width: $width;
  }
}

.radiocheck-text-group_three {
  .radiocheck-text {
    $width: round-float(100% / 3, 2);
    min-width: $width;
    max-width: $width;
  }
}

.radiocheck-text-group_four {
  .radiocheck-text {
    $width: round-float(100% / 4, 2);
    min-width: $width;
    max-width: $width;
  }
}

/* checkbox and radiobutton text view end */